In [1]:
%cd /Users/hermespuentes/dev/MINE/recomendacion/taller3-datos/ml-latest

/Users/hermespuentes/dev/MINE/recomendacion/taller3-datos/ml-latest

In [2]:
import pandas as pd

In [3]:
df_links = pd.read_csv("links.csv")

In [4]:
df_links.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [5]:
len(df_links)

58098

In [6]:
df_links1 = df_links.iloc[ 0:10000 , : ]

In [7]:
df_links2 = df_links.iloc[ 10000:20000 , : ]

In [8]:
df_links3 = df_links.iloc[ 20000:30000 , : ]

In [9]:
df_links4 = df_links.iloc[ 30000:40000 , : ]

In [10]:
df_links5 = df_links.iloc[ 40000:50000 , : ]

In [11]:
df_links6 = df_links.iloc[ 50000:60000 , : ]

In [12]:
df_links1.to_csv("links1.csv",index=False,header = True, sep = ",")
df_links2.to_csv("links2.csv",index=False,header = True, sep = ",")
df_links3.to_csv("links3.csv",index=False,header = True, sep = ",")
df_links4.to_csv("links4.csv",index=False,header = True, sep = ",")
df_links5.to_csv("links5.csv",index=False,header = True, sep = ",")
df_links6.to_csv("links6.csv",index=False,header = True, sep = ",")

In [13]:
names=['imdbId','directores','actores']
df_diract1 = pd.read_csv("semantic/directores1.csv", names=names)
df_diract2 = pd.read_csv("semantic/directores2.csv", names=names)
df_diract3 = pd.read_csv("semantic/directores3.csv", names=names)
df_diract4 = pd.read_csv("semantic/directores4.csv", names=names)
df_diract5 = pd.read_csv("semantic/directores5.csv", names=names)
df_diract6 = pd.read_csv("semantic/directores6.csv", names=names)

In [14]:
df_diract = df_diract1
df_diract = df_diract.append(df_diract2)
df_diract = df_diract.append(df_diract3)
df_diract = df_diract.append(df_diract4)
df_diract = df_diract.append(df_diract5)
df_diract = df_diract.append(df_diract6)
df_diract.reset_index(inplace=True)
df_diract.drop('index', axis = 1, inplace=True)

In [15]:
len(df_diract)

58098

In [16]:
df_all= pd.merge(df_diract,df_links,how="inner",left_on="imdbId", right_on="imdbId")

In [17]:
len(df_all)

58098

In [19]:
df_all = df_all[["movieId","directores","actores"]]

In [20]:
df_all

,movieId,directores,actores
0,3354,Brian De Palma,Tim Robbins|Gary Sinise|Don Cheadle|Connie Nie...
1,3316,John Frankenheimer,Ben Affleck|Gary Sinise|Charlize Theron|James ...
2,26231,Donald Cammell|Nicolas Roeg,James Fox|Mick Jagger|Anita Pallenberg|Michèle...
3,4833,Peter Medak,George C. Scott|Trish Van Devere|Melvyn Dougla...
4,8496,Jerry Schatzberg,Al Pacino|Kitty Winn|Alan Vint|Richard Bright
...,...,...,...
58093,193363,Mats Helge Olsson,Krzysztof Kolberger|Hanna Bieniuszewicz|Bo F. ...
58094,193467,Tetsu Maeda,Takao Osawa|Kyôka Suzuki|Shôta Matsuda|Kôichi ...
58095,176935,Dean Devlin,Gerard Butler|Jim Sturgess|Abbie Cornish|Alexa...
58096,189757,Fabien Onteniente,Franck Dubosc|Mathilde Seigner|Claude Brasseur...
58097,187517,Neal Brennan,Michelle Wolf

In [21]:
df_all.to_csv("diract.csv",index=False,header = True, sep = ",")